{
    padding:0;
    margin:0;
}
h1{
    text-align: center;
    background-color: black;
    color:white;
    padding: 50px;
}
nav ul{
    background-color:grey;
    width: 100%;
    list-style-type: none;
text-align: center;    
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color:white;
    padding: 10px;
    width: 150px;
}
nav li:hover {
    background-color:blue;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover ;
}
.contenido{
    display: flex;
    margin: 60px;

.secciones{
    display:flex;
    align-items: center;
    padding: 40px;
}
.menu secundario{
    width: 20%;
}